<!--<ion-view title="Chat" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="card" style="margin-left: 50px">
      <div class="item item-text-wrap" style="color:white; background-color: #5cd6d6 ">
        Hi! I'm looking for someone to fix my fridge.
      </div>
    </div>
    <div class="card" style="margin-right: 50px">
      <div class="item item-text-wrap" >
        Hello, I'm available. Set the date and time.
      </div>
    </div>
    <div class="card" style="margin-left: 50px">
      <div class="item item-text-wrap" style="color:white; background-color: #5cd6d6 ">
        Tomorrow.
      </div>
    </div>
    <div class="card" style="margin-left: 50px">
      <div class="item item-text-wrap" style="color:white; background-color: #5cd6d6 ">
        6.00 pm
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 308px;"></div>
    <form id="chat-form2" class="list">
      <label class="item item-input" id="chat-input2">
        <input type="text" placeholder="writing some text...">
      </label>
    </form>
  </ion-content>
</ion-view>-->

<ion-view title="Chat" id="pageChat" ng-controller="chatCtrl as vm">
  <ion-content padding="true" class="has-header"> <!-- repeat functions -->

  <label class="item item-input">
    <input type="text" ng-model="message"
    placeholder="Write message">
  </label>

  <div class="item button button-block button-stable"
  ng-model="addMessageBtn"
  ng-disabled = "!message"
  ng-click="sendM()">
  SEND
  </div>

    <ion-list id="chatList">
      <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="messageS in messageSend" id="workers-list-item20" ui-sref="tabsController.chat()">
        <h2>{{client.name}}, {{client.last}}</h2>
        <p>{{messageS.message}}</p>
        <i class="icon ion-android-textsms"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

