<ion-view title="Home" id="page5" ng-controller="homeCtrl as vm">
  <ion-content padding="true" class="has-header" >
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;" ng-hide="vm.filteredWorkers.length>0">
        <strong>CATEGORÍAS</strong>
      </p>
      <p style="color:#000000;" ng-show="vm.filteredWorkers.length>0" ng-click="vm.filteredWorkers = []">
        <i class="icon ion-android-arrow-back"></i> Regresar
      </p>
    </div>
    <ion-list id="Categories" ng-hide="vm.filteredWorkers.length>0 || !vm.startChat">
      <ion-item class="item-icon-left dark" id="home-list-item11" ng-click="vm.findWorkers('Ayudante del hogar')">
        <i class="icon ion-android-home"></i>Ayudante del hogar</ion-item>
      <ion-item class="item-icon-left" id="home-list-item12" ng-click="vm.findWorkers('Carpintería')">
        <i class="icon ion-hammer"></i>Carpintería</ion-item>
      <ion-item class="item-icon-left" id="home-list-item13" ng-click="vm.findWorkers('Cerrajería')">
        <i class="icon ion-key"></i>Cerrajería</ion-item>
      <ion-item class="item-icon-left" id="home-list-item14" ng-click="vm.findWorkers('Construccion y decoracion')">
        <i class="icon ion-ios-flower"></i>Construcción y Decoración</ion-item>
      <ion-item class="item-icon-left" id="home-list-item15" ng-click="vm.findWorkers('Electricista')">
        <i class="icon ion-android-bulb"></i>Electricista</ion-item>
      <ion-item class="item-icon-left" id="home-list-item16" ng-click="vm.findWorkers('Instalaciones')">
        <i class="icon ion-wrench"></i>Instalaciones</ion-item>
      <ion-item class="item-icon-left" id="home-list-item17" ng-click="vm.findWorkers('Jardinería')">
        <i class="icon ion-ios-rose"></i>Jardinería</ion-item>
      <ion-item class="item-icon-left" id="home-list-item18" ng-click="vm.findWorkers('Plomería')">
        <i class="icon ion-gear-a"></i>Plomería</ion-item>
    </ion-list>
    <ion-list id="Workers" ng-hide="!vm.startChat">
      <ion-item class="item-icon-left dark" ng-repeat="client in vm.filteredWorkers" 
      ng-click="vm.client = client; vm.startChat()">
        <i class="icon ion-android-person"></i>{{client.name}}</ion-item>
    </ion-list>
  </ion-content>

  <div ng-if="!vm.startChat">
    <label class="item item-input">
      <input type="text" placeholder="Mensaje..." style="padding-top: 30%;height:20px;padding-bottom: 10px;" ng-model="vm.message">
    </label>
    <div style=" overflow-y:scroll;height: 100px">
      <div ng-repeat="message in vm.messages"  class="card" >
        <div class="item item-text-wrap" style="background-color:#5cd6d6; padding-right: 5px;color:white; ">{{message.receiverId}}<br>{{message.message}}</div>
      </div>
    </div>
    <div style="padding-top: 60px">
      <div class="item button button-block button-stable"
      style="position: absolute; bottom: 40px; width: 100%;background-color: #5cd6d6;color:white"
      ng-model="addMessageBtn"
      ng-disabled = "!vm.message"
      ng-click="vm.sendMessage()" >
      Enviar a {{vm.client.name}}
      </div>
      
    </div>
    
  </div>


</ion-view>