<ion-view title="ListChat" id="page7">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="listChat-list4">
      <ion-item class="item-icon-right" id="listChat-list-item31" ui-sref="tabsController.chat()">Nombre - Oficio
        <i class="icon ion-android-cancel"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listChat-list-item35" ui-sref="tabsController.chat()">Nombre - Oficio
        <i class="icon ion-android-cancel"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listChat-list-item36" ui-sref="tabsController.chat()">Nombre - Oficio
        <i class="icon ion-android-cancel"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>