<ion-view title="Log In" id="page11" ng-controller="logInCtrl as vm">
  <ion-content padding="true" class="has-header">
    <form id="logIn-form9" class="list">
      <div>
        <img src="img/EUBCy9u2TYCGCNXDAWeE_nombreLogo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 100px;"></div>
      <label class="item item-input" id="logIn-input18">
        <input type="text" placeholder="Correo Electrónico" ng-model="vm.user.email">
      </label>
      <label class="item item-input" id="logIn-input19">
        <input type="text" placeholder="Contraseña" ng-model="vm.user.password">
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <a ng-click="vm.login()" style="background-color: #5cd6d6; color: white" id="logIn-button8" class="button button-positive button-block">Entrar</a>
    <a ui-sref="signIn()" style="background-color: #5cd6d6; color: white" id="logIn-button9" class="button button-positive button-block">Registrarse</a>
  </ion-content>
</ion-view>