<ion-view title="Profile" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="profile-form4" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <label class="item item-input" id="profile-input4">
        <input type="text" placeholder="username">
      </label>
      <label class="item item-input" id="profile-input5">
        <input type="text" placeholder="email">
      </label>
      <label class="item item-input" id="profile-input6">
        <input type="text" placeholder="ciudad">
      </label>
      <div class="item item-body" id="profile-list-item-container3">
        <div id="profile-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Carpinteria</p>
        </div>
        <div id="profile-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Cerrajeria</p>
        </div>
      </div>
    </form>
    <div id="profile-button-bar1" class="button-bar">
      <button style="background-color: #5cd6d6; color: white" id="profile-button4" class="button button-positive button-block">Add</button>
      <button style="background-color: #5cd6d6; color: white" id="profile-button5" class="button button-positive button-block">Save</button>
      <button style="background-color: #5cd6d6; color: white" id="profile-button6" class="button button-positive button-block">Close</button>
    </div>
  </ion-content>
</ion-view>