<ion-view title="Sign In" id="page10" ng-controller="signInCtrl as vm">
  <ion-content padding="true" class="has-header">
    <h1 id="signIn-heading2" style="color:#000000;">Crear cuenta</h1>
    <form id="signIn-form5" class="list">
      <label class="item item-input" id="signIn-input823">
        <input type="text" placeholder="Username" ng-model="vm.user.username"> <!-- data.name -->
      </label>
      <label class="item item-input" id="signIn-input8">
        <input type="text" placeholder="Nombre" ng-model="vm.user.name"> <!-- data.name -->
      </label>
      <label class="item item-input" id="signIn-input9">
        <input type="text" placeholder="Apellido" ng-model="vm.user.lastName"> 
      </label>
      <label class="item item-input" id="signIn-input10">
        <input type="text" placeholder="Correo Electrónico" ng-model="vm.user.email"> 
      </label>
      <label class="item item-input" id="signIn-input11">
        <input type="password" placeholder="Contraseña" ng-model="vm.user.password"> <!-- data.pswrd -->
      </label>
      <label class="item item-input" id="signIn-input12">
        <input type="password" placeholder="Confirmar Contraseña" ng-model="vm.confirm"> <!-- data.confirmPswrd -->
      </label>
      <ion-item>
        <select style="width: 100%; border:none;color:gray" ng-model="vm.user.type">
            <option selected hidden value=''>Elegir tipo de usuario</option>
            <option value='worker'>Trabajador</option>
            <option value="provider">Proveedor</option>
        </select>
      </ion-item>
    </form>
    <form id="signIn-form8" class="list" >
      <ion-checkbox ng-repeat="skill in vm.works track by $index" ng-click="vm.addSkill($index)" ng-if="vm.user.type=='worker'">{{skill}}</ion-checkbox>
      <a ng-click="vm.register()" id="signIn-button7" style="background-color: #5cd6d6; color: white" class="button button-positive button-block" ng-disabled="!vm.user.email || !vm.user.password">Registrar</a>
    </form>
  </ion-content>
</ion-view>
