<ion-view title="Resultado Búsqueda" id="page6">
  <ion-content padding="true" class="has-header"> <!-- repeat functions -->
    <ion-list id="workers-list3">
      <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="workers in clients" id="workers-list-item20" ui-sref="tabsController.chat()">
        <h2>{{client.name}}, {{client.last}}</h2>
        <p>{{client.location}}</p>
        <i class="icon ion-android-textsms"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>